<h1>Verdiginiz borclar:</h1>

<table>
  <tr>
    <th>Borclu Arkadas</th>
    <th>Verilen para</th>
    <th>Aciklama</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.borrower.name %></td>
    <td><%= loan.value %>(<%= loan.paid_value %> lirasini odedi)</td>
    <td><%= loan.description %></td>
    <td><%= link_to 'Show', loan %></td>
    <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
    <td><%= link_to 'Destroy', loan, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
