<p>
  <b>Borrower:</b>
  <%= @loan.borrower.name %>
</p>

<p>
  <b>Value:</b>
  <%= @loan.value %> (<%= @loan.paid_value %> lirasini odedi)
</p>

<p>
  <b>Description:</b>
  <%= @loan.description %>
</p>

<br><br>

<% if @loan.payments.count == 0 %> 
  <div id="payment_box">
    <%= render 'payment_plan' %>
  </div> 
<%= link_to 'Edit', edit_loan_path(@loan) %> |
<% else %>
<h4>Taksitler</h4>
<%= render @loan.payments %>
<% end %>
<%= link_to 'Back', loans_path %>

<%= link_to 'Borcu kapat', loan_archive_path(@loan) %>
