<p id="notice"><%= notice %></p>

<p>
  <b>Borrower:</b>
  <%= @loan.borrower.name %>
</p>

<p>
  <b>Value:</b>
  <%= @loan.value %>
</p>

<p>
  <b>Description:</b>
  <%= @loan.description %>
</p>

<p>
  <b>Paid value:</b>
  <%= @loan.paid_value %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>

<br><br>

<h4> payments</h4>
<%= render @loan.payments %>
<%= link_to 'yeni bir odeme yap', new_loan_payment_path(@loan) %>
