<%= div_for payment do %>
  <p> <%= "Payment #{payment.id}" %> </p>
  <p> <%= payment.payment_value %>TL </p>
  <p> <%= payment.payment_date %> </p>
  <%  if payment.paid %>
    <p> <%= link_to "Odemeyi iptal et", loan_payment_toggle_paid_path(@loan, payment) %> </p>
  <% else %>
    <p> <%= link_to "Odemeyi onayla", loan_payment_toggle_paid_path(@loan, payment) %> </p>
  <% end %>
<% end %>
<div class="clearfix"></div>
